@use 'sass:math'; // Permet d'utiliser des fonctions intégrées SASS de calcul mathématiques dans ce fichier
@use 'sass:color'; // Permet d'utiliser des fonctions intégrées SASS de modification des couleurs dans ce fichier




/* ============================== SECTIONS ============================== */
// Section landingPage

.landingPage{
    display:block;
    width:100%;
    background-color:$darkBckgrd ;
    padding-top: 10%;
    margin: 10vh auto 0 auto;
    &__header{
        display: flex;
        flex-direction: column;
        &__title{
            text-align: center;
            font-size: 2rem;
            color: lighten($lightBckgrd,70);
        }
        &__subTitle{
            text-align: center;
            font-size: 1rem;
            color: $lighterBckgrd;
        }
    }
    &__mainContainer{
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        &__landingBlocks{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            padding: 2rem  1rem;
            gap: 1rem;
            &__img{
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 80%;
                height: auto;
                &__photo{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &__logoBlocks{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            height: 50%;
            &__container{
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                margin: 0 auto;
                max-width: 100%;
                //width: 100%;
                &__lang{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    width: 60%;
                    height:auto;
                    align-items: center;
                    max-height: 50%;
                    //transition: transform 150ms ease-in;
                    &__title{
                        color: $fntDarkerBckgrd;
                        font-size: 1.25rem;
                        margin-bottom: .9rem;
                        transition: transform 150ms ease-in;
                    }
                    &__logo{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 45%;
                        height:auto;
                        background-color: none;
                        transition: transform 150ms ease-in;
                        & img{
                            max-width: 100%;
                            max-height: 100%;
                        }        
                    } 
                    &:hover > &__title{
                        text-shadow: 0 0 2rem #FFFFFF;
                        transform: scale(1.3);
                    }
                    &:hover +  img{
                        background: none;
                        box-shadow: 0 0 2rem $lighterBckgrd;
                    }
                    &:hover > &__logo{
                        transform: scale(1.3);
                    }
                }        
            }        
        }
    }
}

// Section parcours
.global{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    border-top: 5px outset $lightBckgrd;
    box-shadow: 0 0 10px $lightBckgrd;
    & h3{    
        max-width: 90%;
        text-align: center;
        margin: auto;
        padding:2rem 0;
        color:$fntDarkerBckgrd;
    }
    &__timeline{
        display: block;
        width:100%;
    }
}

//Section tabs - ceQuiVousAttends
.article{
    width:100%;
    &__topBlock{
        &__title{
            & h4{
                padding-bottom:1rem;
                color:#fff;

            }
        }
    }
}
.tabBlock{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    position:relative;
    width:100%;
    //max-height: max-content;
    min-height: max-content;
    padding-bottom:2rem;
    &__b{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        margin:auto;
        width:100%;
        background-color: $lighterBckgrd;
        &__sb{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            min-width: 100%;
            width:100%;
            background-color: $lighterBckgrd;
            padding:4rem;
            gap : 2rem
        }
        &__sb:nth-child(2n){
            border-right: thin solid $fntLighterBckgrd;
            background-color: $lightBckgrd;
        }
    }
}

.graphisme{
    z-index: 0;
    display:flex;
    flex-direction: column;
    gap : 2rem;
    max-width: 70%;
    margin: 2rem  auto  2rem auto ;
    background: #BBB47610;
    padding: 1rem 1rem 4rem 1rem;
    & h3{
        z-index: 1;
        opacity: 100;
        text-align: center;
        color: $lighterBckgrd;
        font-size: 2.25rem;
    }
    & h5{
        font-size: 1.5rem;
        color:#fff;
        text-align: center;
        font-family: 'Glacial_regular';
        font-weight: 100;
    }
    &__skills{
        display:flex;
        flex-wrap: wrap; gap : 2rem;
        font-size: 2rem;
        font-weight: lighter;
        max-width: 70%;
        margin:auto;
        justify-content: center;
        :nth-child(n){
            color: $lighterBckgrd;
            text-align: center;
        }
        :nth-child(2n){
            color:#fff;
            text-align: center;
        }
        & blockquote{
            font-family: 'Glacial_regular';
            font-size: 1.5rem;;
        }
    }
}
// Section Graphisme

@media screen and (min-width: 1002px){
    .landingPage{
        &__header{
            &__title{
            }
            &__subTitle{
            }
        }
        &__mainContainer{
            flex-direction: row;
            //padding-bottom: 2rem;
            flex-wrap: nowrap;
            align-items: center;
            &__landingBlocks{
                &__img{
                    width:100%;
                }
            }
            &__logoBlocks{
                &__container{
                    &__lang{
                        &__title{
                        }
                        &__logo{
                            & img{
                            }        
                        } 
                        &:hover > &__title{
                        }
                        &:hover +  img{
                        }
                        &:hover > &__logo{
                        }
                    }        
                }        
            }
        }
    }
    
    // Section parcours
    .global{

        & h3{    

        }
        &__timeline{

        }
    }

    //Section tabs - ceQuiVousAttends
    .article{
        width:100%;
        &__topBlock{
            &__title{
                & h4{
                    padding-bottom:1rem;
                    color:#fff;
    
                }
            }
        }
    }
    .tabBlock{
        &__b{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &__sb{
                min-width: 40%;
                max-width: 50%;
            }
            &__sb:nth-child(2n){

            }
        }
    }
}

@media screen and (max-width: 1503px){
    .tabBlock{

        &__b{
            flex-direction: row;
            flex-wrap: wrap;
            height:100%;
            &__sb{
                max-width: 40%;
                width:100%;
                background-color: $lighterBckgrd;
                padding:4rem;
                gap : 2rem;
                max-height: max-content;
            }
            &__sb:nth-child(2n){
                min-height: 100%;
                max-height: max-content;
                min-height: 100%;
                height:100%;
            }
        }
    }
}


