@use 'sass:math'; // Permet d'utiliser des fonctions intégrées SASS de calcul mathématiques dans ce fichier
@use 'sass:color'; // Permet d'utiliser des fonctions intégrées SASS de modification des couleurs dans ce fichier


#contactForm{

}

.formContainer{
    display: flex;
    flex-direction: row;
    width:70%;
    padding:1rem;
    background-color:#fff;
    margin:auto;
    &__text{
        max-width: 30%;
        padding: 2rem 1rem 2rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        & p{
            text-align: right;
        }
    }
    &__form{
        display:block;
        width:50%;
        margin:auto;
        background-color:#fff;
        &__inputGroupContainer{
            display: flex;
            flex-direction: column;
            padding:2rem;
            gap:2rem;
            &__title{
                color: $fntRegularBckgrd;
                font-family: $fonth4;
            }        
        }       
    }
}
.inputGroupBlock{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width:max-content;
    gap:1rem;
    width:100%;
    &__inputGroup{
        display: flex;
        flex-direction: row;
        gap:1rem;
        position:relative;
        width:100%;
        & label{
            width:auto;
            font-size: .75rem;;
        }
        & input{
            width:100%;
            &[placeholder]{
                opacity: .5;
            }
        }
        & textarea{
            width:100%;
            &[placeholder]{
                opacity: .5;
            }
        }
    }
}
