@use 'sass:math'; // Permet d'utiliser des fonctions intégrées SASS de calcul mathématiques dans ce fichier
@use 'sass:color'; // Permet d'utiliser des fonctions intégrées SASS de modification des couleurs dans ce fichier


.portfolio{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-bottom: 2rem;
    width:100%;
    & h2{
        color:$lightBckgrd;
        margin : .5rem auto;
        padding: .5rem 1rem;
        text-align: center;
    }
    & h4{
        color:$lightBckgrd;
        margin : .5rem auto;
        padding: .5rem 1rem;
        text-align: center;
    }
    & p{
        padding: .5rem 1rem;
        text-align: center;
    }
    &__folioContainer{
        display: flex;
        margin: auto;
        max-width: 1503px;
        &__imgBoxes{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: auto;
            margin:auto;
            width: fit-content;
            z-index: 0;    
        }

    }
}

.box{
    align-items: center;
    border: thin solid $regularBckgrd;
    display: flex;
    justify-content: center;
    margin:auto;
    max-width: 500px;
    overflow:hidden;
    padding:1px;
    position: relative;
    transition:all 200ms cubic-bezier(.49,.01,.23,1.75);
    &::before{
        background-color: $regularBckgrd;
        content:'';
        height:100%;
        left:0;
        max-width: 100%;
        max-height:100%;
        top:0;
        opacity: .5;
        position:absolute;
        transition: all 250ms ease-out;
        width: 100%;
        z-index: 1;
    }
    &:active > .box__img,
    &:focus > .box__img{
        z-index: 3;
        animation: flipBox forwards;
        & ~ .box__desc
        & ~ .box__desc,
        & ~ .box__desc{
            z-index: 4;
            background-color:#000000ad;
            display:flex;
            height: 100%;
            left: 0;
            margin: 0;
            top: 0;
            width: 100%;
            transition: all 700ms ease-in;
            animation: flipBoxTo1 350ms forwards;
        }
    }
    &__img{
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 500px;
        position: relative;
        z-index: 0;
        &:active,
        &:focus{
            background-color:#000000ad;
            display:flex;
            height: 100%;
            left: 0;
            margin: 0;
            top: 0;
            width: 100%;
        }
    }
    &__desc{
        display:flex;
        align-items: center;
        color:#fff;
        display:none;
        flex-direction: column;
        flex-wrap: nowrap;
        gap:1.5rem;
        height:0;
        justify-content: center;
        left:0;
        margin:auto;
        max-width: 100%;
        padding:1rem;
        position:absolute;
        top:100%;
        width:100%;
        z-index: 4;
        transform: scaleX(0);
        & h5{
            color: $lighterBckgrd ;
            font-family: 'Glacial_regular';
            font-size: 1.5rem;
        }
        &__meta{
            margin: 3rem 2rem;
        }
    }
}
.metaDesc{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    max-width: 100%;
    max-height: 100%;
    text-align: justify;
    &__meta{
        display: flex;
        gap:1rem;
        word-wrap:inherit;
        &__title{
            color: color.scale($fntDarkBckgrd, $lightness : +50%);
            font-family: 'ubuntu_condensedregular';
            font-size: 1.25rem;
            font-weight: 500;
        }
        &__content{
            display:inline-block;
            font-family: 'ubunturegular';
            font-size: 1rem;
            color:#fff;
        }
    }
}
@media screen and (max-width: 1002px){
    .portfolio{
        &__folioContainer{
            max-width: 501px;
        }
    }
}

@media screen and (max-width: 1503px){
    .portfolio{
        &__folioContainer{
            max-width: 1002px;
        }
    }    
}
@media screen and (min-width: 1503px){
    .box{
        align-items: center;
        border: thin solid $regularBckgrd;
        display: flex;
        justify-content: center;
        max-width: 500px;
        overflow:hidden;
        padding:1px;
        position: relative;
        transition:all 200ms cubic-bezier(.49,.01,.23,1.75);
        &::before{
            background-color: $regularBckgrd;
            content:'';
            height:100%;
            left:0;
            max-width: 100%;
            max-height:100%;
            top:0;
            opacity: .5;
            position:absolute;
            transition: all 250ms ease-out;
            width: 100%;
            z-index: 1;
       }
       &:hover > .box__img,
       &:active > .box__img,
       &:focus > .box__img{
           z-index: 3;
           animation: flipBox forwards;
           & ~ .box__desc
           & ~ .box__desc,
           & ~ .box__desc{
               z-index: 4;
               background-color:#000000ad;
               display:flex;
               height: 100%;
               left: 0;
               margin: 0;
               top: 0;
               width: 100%;
               transition: all 700ms ease-in;
               animation: flipBoxTo1 350ms forwards;
           }
       }
    // uniquement pour les larges écrans
        &:hover,
        &:active,
        &:focus{
            cursor: pointer;
            transform: scale(1.1);
            z-index: 3;
            &::before {
                transform: scale(0);
                opacity:0;      
            }
        }
    }
}

