@use 'sass:math'; // Permet d'utiliser des fonctions intégrées SASS de calcul mathématiques dans ce fichier
@use 'sass:color'; // Permet d'utiliser des fonctions intégrées SASS de modification des couleurs dans ce fichier


/* Boutons classiques */

.details{
    @include flexBtn;
    width: 45%;
    font-family: $fonta;
    aspect-ratio: 900/90;
    background-color: $darkBckgrd;
    color: $lightBckgrd;
    margin:auto;
    padding : .5rem 1rem;
    &:hover{
        background-color: $lightBckgrd;
        color: $darkBckgrd;
    }
}
/* Boutons action */

.actionsBtns{
    @include flexBtn;
    width: 100%;
    aspect-ratio: 900/90;
    background-color: $regularBckgrd;
    margin:auto;
    max-height: 10vh;
    padding: .4rem .2rem;
    &:hover{
        background-color: color.scale($lighterBckgrd, $lightness : -90%);
        color: $fntDarkerBckgrd;
        border: solid 2px $fntDarkerBckgrd;
        cursor: pointer;
    }
    & a{
        font-family: $fonta;
        color: $fntDarkerBckgrd;
    }
}



/* ============================= Bouton Burger =============================  */
//Boutons Burger

.btnBurger{
    align-content: space-between;
    display: flex;
    height:$burgerSize;
    justify-content: center;
    margin:auto;
    position:relative;
    transition:all 150ms ease-in-out;
    width:$burgerSize;
    z-index: 3;
    align-content: space-between;
    animation : clickBurger 15000s backwards infinite;
    &:hover{
        cursor: pointer;
        transform:scale($scaleHover);
    }
    &:hover > &__top{
        // border-radius: 50px;
        border-bottom-right-radius:0 ;
        border-top-right-radius:0 ;
        transform: rotate(45deg) translateY(.35rem);
        background-color: $fntDarkBckgrd
    }
    &:hover > &__middle{
        display: none;
    }
    &:hover > &__bottom{
        // border-radius: 50px;
        border-bottom-right-radius:0 ;
        border-top-right-radius:0 ;
        transform: rotate(-45deg) translateY(-.35rem);
        background-color: $fntDarkBckgrd;
    }
    &__top{
        background-color: $lighterBckgrd;
        border-radius: 50px;
        display:block;
        height: $burgerSize * .1;
        position:absolute;
        top:0;
        transition:all 150ms ease-in-out;
        width: $burgerSize;
        z-index: 4;
    }
    &__middle{
        background-color: $lighterBckgrd;
        border-radius: 50px;
        display:block;
        height: $burgerSize * .1;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        transition:all 150ms ease-in-out;
        width: $burgerSize;
        z-index: 4;
    }
    &__bottom{
        background-color: $lighterBckgrd;
        bottom:0;
        border-radius: 50px;
        display:block;
        height: $burgerSize * .1;
        position:absolute;
        transition:all 150ms ease-in-out;
        width: $burgerSize;
        z-index: 4;
    }
} 

/* ============================= Bouton closeCross =============================  */

.btnClose{
    align-content: space-between;
    animation-delay: 2000ms;
    animation-duration: 2400ms;
    animation-name: bumpCloseBtn;
    animation-iteration-count: infinite;
    //animation: bumpCloseBtn infinite 3500ms;
    //background-color: blue; // Pour test uniquement
    display: flex;
    height:$crossCloserSize;
    justify-content: center;
    margin:2rem auto;
    position:relative;
    transition: hover 150ms ease-in-out;
    width:$crossCloserSize;
    &:hover{
        color:$regularBckgrd;
        cursor: pointer;
    }
    &__firstBar{
        background-color: $crossCloserColor;
        border-radius: 50px;
        height: .2rem;
        position:absolute;
        transition:all 150ms ease-in-out;
        top:50%;
        transform: rotate(-45deg) translateY(-25%);
        width: 100%;
        &:hover{
            box-shadow: 0 0 25px $lighterBckgrd;
        }
    }
    &:hover > &__firstBar{
        background-color: $fntRegularBckgrd;
        box-shadow: 0 0 25px $lighterBckgrd;
        transform: rotate(-135deg);
    }
    &:hover > &__secondBar{
        background-color: $fntRegularBckgrd;
        box-shadow: 0 0 25px $lighterBckgrd;
        transform: rotate(135deg);
    }
    &__secondBar{
        background-color: $crossCloserColor;
        border-radius: 50px;
        height: .2rem;
        position:absolute;
        transition:all 150ms ease-in-out;
        top:47%;
        transform: rotate(45deg) translateY(20%);
        width: 100%;
        &:hover{
            box-shadow: 0 0 25px $lighterBckgrd;
        }
    }

}
.btnNav{
    @include flexBtn;
    aspect-ratio: 5/1;
    background-color: $darkerBckgrd;
    width: 90%;
    margin-left:1rem;
    color: $fntDarkerBckgrd;
    font-family: $fonta;
    font-weight: 300;
    text-align: left;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    &:hover{
        border: 2px solid $lighterBckgrd;
        cursor: pointer;
        color: lighten($lighterBckgrd, 20);
        cursor: pointer;
        font-family: $fontah !important;
    }
}

.formBtn{
    padding: .8rem 1rem;
    border:1px solid black;
    &:hover{
        border: 4px solid green;
    }
}
/*SCROLL BAR*/
::-webkit-scrollbar{
    width: .5rem; /*largeur de la scrollbar verticale*/
    height: 1%; /*hauteur de la scrollbar horizontale*/
}
::-webkit-scrollbar-track {
    background: $darkerBckgrd; /*couleur du fond de la scrollbar*/
    border: 1vw solid $lighterBckgrd;  /*bordure*/
}
::-webkit-scrollbar-thumb {
    background-color: $regularBckgrd; /*couleur de l'ascenseur*/;
    border: .5vw solid $darkerBckgrd ; /*bordure de l'ascenseur*/
}
  /*FIN SCROLLBAR*/
 .outerLink{
    padding: 1.2rem 2rem 1.5rem 2rem;
    border-radius: 3px;
    border: solid thin $lightBckgrd;
    &:hover{
        background-color: $darkBckgrd;
        box-shadow: 0 0 15px $burgerColor;
    }
 }
