@use 'sass:math'; // Permet d'utiliser des fonctions intégrées SASS de calcul mathématiques dans ce fichier
@use 'sass:color'; // Permet d'utiliser des fonctions intégrées SASS de modification des couleurs dans ce fichier

/* Instructions basiques d'initialisation */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html, body{
    height:100%;
    scroll-behavior: smooth;
}
body{
    background-color:#1c1c1c ;
    font-size:16px;
    margin:0 auto;
    max-width: 100%;
    width:auto;
    overflow:hidden;
}
main{
    align-items: center;
    display: flex;   
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    width:100%;
    z-index: 0;
}

section{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto 1rem auto;
    transition : all 200ms ease-in-out;
    width: 100%;
    z-index: 0;
}
