@use 'sass:math'; // Permet d'utiliser des fonctions intégrées SASS de calcul mathématiques dans ce fichier
@use 'sass:color'; // Permet d'utiliser des fonctions intégrées SASS de modification des couleurs dans ce fichier


.displayNone{
    display:none !important;
}

.leftDoorOpen{
    animation: openDoorsLeft 1500ms linear forwards;
}
.rightDoorOpen{
    animation: openDoorsRight 1500ms linear forwards;
}

.hideMenu{
    animation : autoCloseMenuStart ease-in-out forwards;
    animation-duration: 2s;
    animation-delay: 2.5s;
}

.hideDoorContainer{
    transform: scale(0);
    transition: transform 500ms cubic-bezier(.23,-0.51,.42,1.5);
}

.pAnimate{
    color: $fnth2LightBckgrd;
}
.translateXBack100{
    transform: translateX(-100%);
}

.listNone{
    list-style: none;
}

.isHidden{
    transform: translateX(-103%) !important;
}

.bumpBurger{
    animation-name: bumpBurger;
    animation-duration: 1.5s;
}

.fade{
    opacity: 0;
    transition: opacity 0.3s;
}
.fade.in{
    opacity: 1;
}
.illuminated{
    color: $lighterBckgrd;
}

